{% extends 'core/base.html' %}

{% block title %}Update details | {% endblock %}

{% block content %}
<div class="container">
    <div class="jumbotron">
<form method="post">
    {% csrf_token %}

    <div class="form-group">
        <label for="id_username">Username:</label>
        {{form.username}}
        <!-- Display errors for username field -->
        {% if form.username.errors %}
        <p class="error-message">{{ form.username.errors }}</p>
        {% endif %}
      </div>

      <div class="form-group">
        <label for="id_username">First name:</label>
        {{form.first_name}}
        <!-- Display errors for username field -->
        {% if form.first_name.errors %}
        <p class="error-message">{{ form.first_name.errors }}</p>
        {% endif %}
      </div>

      <div class="form-group">
        <label for="id_username">Last name:</label>
        {{form.last_name}}
        <!-- Display errors for username field -->
        {% if form.last_name.errors %}
        <p class="error-message">{{ form.last_name.errors }}</p>
        {% endif %}
      </div>

      <div class="form-group">
        <label for="id_username">Email:</label>
        {{form.email}}
        <!-- Display errors for username field -->
        {% if form.email.errors %}
        <p class="error-message">{{ form.email.errors }}</p>
        {% endif %}
      </div>

      <div class="form-group">
        <label for="id_username">New password:</label>
        {{form.password}}
        <!-- Display errors for username field -->
        {% if form.password.errors %}
        <p class="error-message">{{ form.password.errors }}</p>
        {% endif %}
      </div>

      <div class="form-group">
        <label for="id_username">Previous password:</label>
        {{form.old_password}}
        <!-- Display errors for username field -->
        {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}

      </div>  
      
      

    <button type="submit">Update</button>
</form>
</div>
</div>

{% endblock %}